PowerAutomate/ErrorHandlingWithEmail.json
{
  "nodeId": "Scope_-_catch",
  "serializedValue": {
    "type": "Scope",
    "actions": {
      "Compose_-_get_workflow_details": {
        "type": "Compose",
        "inputs": "@workflow()",
        "metadata": {
          "operationMetadataId": "4d49bf35-93eb-478a-9555-27d655139b8a"
        }
      },
      "Compose_-_get_Flow_URL": {
        "type": "Compose",
        "inputs": "@concat('https://make.powerautomate.com/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
        "runAfter": { "Compose_-_get_failed_Action": ["Succeeded"] },
        "metadata": {
          "operationMetadataId": "2f211208-b0ad-45c7-a710-8f966fb89523"
        }
      },
      "Compose_-_get_failed_Action": {
        "type": "Compose",
        "inputs": "@actions('Scope_-_try')?['error']?['message']",
        "runAfter": { "Compose_-_get_workflow_details": ["Succeeded"] },
        "metadata": {
          "operationMetadataId": "58732135-02d8-4073-b89e-78e38fe0f30a"
        }
      },
      "Send_an_email_(V2)": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "emailMessage/To": "test@errorhandling.com",
            "emailMessage/Subject": "Error in your flow: @{outputs('Compose_-_get_workflow_details')?['tags']?['flowDisplayName']}",
            "emailMessage/Body": "<p class=\"editor-paragraph\">Hi,</p><p class=\"editor-paragraph\">Your flow: @{outputs('Compose_-_get_workflow_details')?['tags']?['flowDisplayName']} has failed.</p><p class=\"editor-paragraph\">Error: @{outputs('Compose_-_get_failed_Action')}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Your flowlink: </strong></b>@{outputs('Compose_-_get_Flow_URL')}</p><br><p class=\"editor-paragraph\">Please have a look</p><p class=\"editor-paragraph\">Your Flowbot</p><br>",
            "emailMessage/Importance": "Normal"
          },
          "host": {
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
            "connection": "shared_office365",
            "operationId": "SendEmailV2"
          }
        },
        "runAfter": { "Compose_-_get_Flow_URL": ["Succeeded"] }
      }
    },
    "runAfter": { "Scope_-_try": ["TimedOut", "Skipped", "Failed"] },
    "metadata": {
      "operationMetadataId": "8f3f6158-75da-4ea8-a0d8-9375615a20a2"
    }
  },
  "allConnectionData": {
    "Send_an_email_(V2)": {
      "connectionReference": {
        "api": { "id": "/providers/Microsoft.PowerApps/apis/shared_office365" },
        "connection": { "id": "l" },
        "connectionName": ""
      },
      "referenceKey": "shared_office365"
    }
  },
  "staticResults": {},
  "isScopeNode": true,
  "mslaNode": true
}
